:root {
  --clr-primary: hsl(25, 97%, 53%);
  --clr-neutral0: hsl(0, 0%, 100%);
  --clr-neutral1: hsl(217, 12%, 63%);
  --clr-neutral2: hsl(216, 12%, 54%);
  --clr-neutral3: hsl(213, 19%, 18%);
  --clr-neutral4: hsl(216, 12%, 8%);
  --clr-neutral5: hsl(210, 18.5%, 21.2%);

  --f-family: 'Overpass', sans-serif; 
  --f-weight0: 400;
  --f-weight1: 700;

  --gap2: 2rem;
  --gap1-5: 1.5rem;
  --gap1: 1rem;
}

*, 
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


/* general styling */

html {
  font-family: var(--f-family);
}

body {
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--clr-neutral4);
}


/* utility */

.grid {
  display: grid;
}

.flex {
  display: flex;
}

.f-col {
  flex-direction: column;
}

.f-wrap {
  flex-wrap: nowrap;
}

h2 {
  color: var(--clr-neutral0);
}

p {
  font-size: 0.9rem;
  color: var(--clr-neutral2);
  line-height: 1.4;
}

button,
input {
  cursor: pointer;
}

img {
  max-inline-size: 100%;
}

.scale-to-zero {
  position: absolute;
  transform: scale(0);
}


.sr-only {
  clip-path: inset(50%);
  block-size: 1px;
  inline-size: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}


/* page style */

main {
  max-width: 26rem;
  min-height: auto;
  padding-inline: clamp(1.25rem, calc(4vw + 1rem), 2.4rem);
  padding-block-start: clamp(1.5rem, calc(4vw + 1rem), 2rem);
  padding-block-end:  clamp(2rem, calc(5vw + 1rem), 2.5rem);
  margin-inline: 1rem;
  background-color: var(--clr-neutral3);
  border-radius: 15px;
}


.star-image,
input {
  inline-size: 2.5rem;
  aspect-ratio: 1;
  padding: .8rem;
  background-color: var(--clr-neutral5);
  border: none;
  border-radius: 50%;
}

.front,
.back {
  gap: var(--gap2);
}


.content, 
.rating {
  gap: var(--gap1);
}


/* rating */

.rating {
  gap: var(--gap1-5);
}

.rating-button {
  justify-content: space-between;
  flex-flow: row-reverse wrap;
}

label {
  transform: scale(0);
}

input[type="radio"] {
  appearance: none;
  background: var(--clr-neutral5);;
  margin: 0;
  font: inherit;
  inline-size: 2.5rem;
  block-size: 2.5rem;
  border: 0.15rem solid var(--clr-neutral5);
  border-radius:50%;
}

input[type="radio"]::before {
  content: attr(value);
  display: grid;
  justify-content: center;
  inline-size: 100%;
  block-size: 100%;
  font-size: .8rem;
  color: var(--clr-neutral2);
  border-radius: 50%;
  background: var(--clr-neutral5);
}

input:checked,
input:checked::before,
input:hover,
input:hover::before, 
input:hover ~ input,
input:hover ~ input::before {
  background-color: var(--clr-primary);
  color: var(--clr-neutral0);
  font-weight: var(--f-weight1);
}

.checked:checked,
.checked:checked::before {
  background-color: var(--clr-neutral2) !important; /* had to use !important because of the specificity of previous property */
}


.submit-btn {
  width: 100%;
  padding-block: .75rem;
  font-weight: var(--f-weight1);
  color: var(--clr-neutral0);  
  background-color: var(--clr-primary);
  border: none;
  border-radius: 2rem;
  letter-spacing: .2rem;
}

.submit-btn:active {
  background-color: var(--clr-neutral0);
  color: var(--clr-primary);
}


/* back card */

.back > * {
  text-align: center;
}

.chosen-rating p {
  max-width: fit-content;
  padding-inline: 1rem;
  padding-block: .5rem;
  margin-inline: auto;
  font-weight: var(--f-weight0);
  letter-spacing: 1px;
  color: var(--clr-primary);
  background: var(--clr-neutral5);
  border-radius: 2rem;
  margin-top: 1rem;
}

.thanks-msg h2 {
  margin-bottom: .8rem;
  font-size: clamp(1.1rem, calc(3vw + 1rem), 2.2rem);  
}


/* footer */

footer {
  position: absolute;
  bottom: 0;
  text-align: center;
}

/* media queries */

@media (max-width: 600px) {
  img {
    transform: scale(.9);
  }
}
